a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

div {
    padding: 25px 0 25px 0;
    margin: 60px 20px 20px 20px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    line-height: 2;
    position: relative;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    margin-left: 20px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
}

img {
    height: 300px;
    position: relative;
}

p {
    color: #808D99;
    font-size: 18px;
    line-height: 2;
    font-family: 'Open Sans', sans-serif;
}

table {
    text-align: left;
}

ul {
    list-style-type: none;
}

.top-container {
    background-color: #EBFBFF;
    padding: 30px 0 30px 0;
    margin: 0;
    border: 0;
    height: 700px;
    width: 100%;
}

.middle-container {
    height: 350px;
    width: 75%;
    margin: 100px auto 100px auto;
    text-align: left;
    border-style: solid;
    border-color: #dcdcdd;
    border-radius: 10px;
    padding: 50px;
}

.third-container {
    height: 350px;
    width: 75%;
    margin: 100px auto 100px auto;
    text-align: left;
    border-style: solid;
    border-color: #dcdcdd;
    border-radius: 10px;
    padding: 50px;
}

.fourth-container {
    height: 350px;
    width: 75%;
    margin: 100px auto 100px auto;
    text-align: left;
    border-style: solid;
    border-color: #dcdcdd;
    border-radius: 10px;
    padding: 50px;
}

.bottom-container {
    position: sticky;
    text-align: center;
    height: 100%;
    width: 50%;
    margin-left: 25%;
    border: 2px solid #808D99;
    border-style: solid;
    border-color: #dcdcdd;
    border-radius: 10px;
    background-color: white;
}

.footer {
    font-family: 'Open Sans', sans-serif;
    height: 300px;
    background-color: #00252E;
    color: lightgray;
    border: 0;
    margin-top: -75px;
    padding-left: 275px;
    padding-top: 100px;
    text-align: center;
    line-height: 2;
}

.footer img {
    height: 20px;
    border-style: solid;
    border-color: lightgray;
    padding: 5px;
    border-radius: 50%;
}

.secondtable {
    float: right;
}

.top-cloud {
    position: absolute;
    position: 0;
}

.mockup {
    float: right;
    width: 650px;
    height: 450px;
    margin: 0 45px auto 0;
}

.second-pic {
    float: right;
    margin: 20px;
}

.third-pic {
    float: left;
    margin: 30px;
}

.fourth-pic {
    float: right;
    margin: 20px;
}

.attribution {
    color: white;
    text-align: right;
    font-size: 11px;
    padding-right: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    }

.copyright {
    font-size: 11px;
}

.button {
    background-color: white;
    border: none;
    color: #808D99;
    padding: 15px 32px;
    margin-top: 0;
    margin-right: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    float: right;
}

.button-pink {
    background-color: #FF1493;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}

.button:hover {
    background: lightgray;
    color: white;
    text-decoration: none;
}

.button-pink:hover {
    background: white;
    color: #FF1493;
    text-decoration: none;
}

.contact-us {
    width: 40%;
}

.copyright {
    font-size: 0.75rem;
    padding: 20px 0;
}

.icon {
    height: 47px;
    width: 200px;
    margin-left: 20px;
    float: left;
}

.intro {
    width: 600px;
    height: 350px;
    margin-left: 20px;
    padding-left: 20px;
    display: inline-block;
    margin-top: 0;
}

.menu {
    margin-top: 0;
}